.home{
    display: flex;
    // background-color:#f3ffcf;
    background-image: linear-gradient( 174.2deg,  rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% );
    .homeContainer{
        flex: 6;
        
        .features,.charts{
            display: flex;
            padding: 30px;
            gap:120px;
            
        }

        .charts{
            padding: 5px 20px;
            padding-top:15px;
            
        }
    }
}