.home{
    display: flex;
    // background-color:#f3ffcf;
    background-color: #ddebf69d;
    .homeContainer{
        flex: 6;
        
        .features,.charts{
            display: flex;
            padding: 40px;
            gap:55px;           
            
        }

        .charts{
            padding: 10px 40px;
            padding-top:15px;            
        }
    }
}