.chart{
    flex:4;
    box-shadow: 1px -2px 22px 5px rgba(143,132,132,0.24);
    -webkit-box-shadow: 1px -2px 22px 5px rgba(143,132,132,0.24);
    -moz-box-shadow: 1px -2px 22px 5px rgba(143,132,132,0.24);
    border-radius: 15px;
    padding: 10px;
    background-color: white;
    
    

    h4{
        margin-left: 8px;
        font-weight: 600;
        font-size: 22px;
        display: flex;
        align-items:center;         
        justify-content:flex-start;     
        color:#494e56;
    }
}