.sidebar{
    flex: 1;    
    min-height: 110vh;
    margin: 0 auto;
    padding: 0;
    border-right: 0.6px solid lightgray;
    background-color: #111827;
    box-shadow: 0px 5px 5px 2px rgba(135,132,132,0.38);
    -webkit-box-shadow: 0px 5px 5px 2px rgba(135,132,132,0.38);
    -moz-box-shadow: 0px 5px 5px 2px rgba(135,132,132,0.38);
    .top{
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        // background-color:lightcoral;
    }

    .logo{
        font-size: 26px;
        font-weight: 600;
        color: #f38630; 
    }
    
    
    .center{
        //background-color:green;
        width: 90%;
        height: 92vh;
        overflow-y: hidden;
        
        
        ul{            
            //background-color:lightcoral;
            list-style:none; 
            li{
                margin-top:15px;
                cursor:pointer;
                font-size:16px;
                font-weight: 300;
                color:#fafdea;                
            }
            .align{
                margin-left:-20px;
                padding-top:12px;
                //
            }
            .header{
                font-size: 17px;                
                &:hover{
                    background-color:#585858;
                    padding-left: 10px;
                    padding-right: 10px;
                    border-radius: 40px 5px 5px 40px;
                    -moz-border-radius: 40px 5px 5px 40px;
                    -webkit-border-radius: 40px 5px 5px 40px;
                    margin-right: 25px;
                }
            }
            

            .collapse{
                display: none;
            }
            .icon{     
                font-size: 18px;   
                margin-right: 5px;                 
                color:#f38630;
            }
            .icon1{
                font-size:13px;
                color:rgb(144, 144, 144);
                
            } 
            .logout{                
                margin-top:22rem;
                
            }
            
        }
    }
    


}