.sidebar{
    flex: 1;    
    min-height: 105vh;
    border-right: 0.6px solid lightgray;
    background-color: #092b5a;
    box-shadow: 0px 5px 5px 2px rgba(135,132,132,0.38);
    -webkit-box-shadow: 0px 5px 5px 2px rgba(135,132,132,0.38);
    -moz-box-shadow: 0px 5px 5px 2px rgba(135,132,132,0.38);
    .top{
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo{
        font-size: 26px;
        font-weight: 600;
        color: #f38630; 
    }
    
    .center{
        margin:0;
        padding:0;
        
        //margin-left:40px;
        

        
        
        ul{
            list-style:none;            
            padding:0;             
            .align{
                margin-left:30px;
                margin-top:25px;
            }

            li{
                display:flex;           
                padding:5px;
                cursor:pointer;
                font-size:15px;
                font-weight: 300;
                text-align: center;                  
                color:#fafdea;  
                
                
                &:hover{
                    background-color:#f38630;
                    width: 82%;
                    border-radius: 40px 5px 5px 40px;
                    -moz-border-radius: 40px 5px 5px 40px;
                    -webkit-border-radius: 40px 5px 5px 40px;
                    border: 0px dotted #000000;
                }
                
                
                .icon{
                    font-size: 21px;   
                    margin-right: 5px;                 
                    color:#f38630;
                }
                
                .sub{
                    margin-top:20px;
                    margin-left: -45px;
                }
                .sub2{
                    margin-top:20px;
                    margin-left:-25px;
                }
                .sub7{
                    margin-left:-25px;
                    margin-top:2px;
                }
                .sub1{
                    margin-left: -45px;
                    margin-top:2px;
                }
                .sub3{
                    margin-top:20px;
                    margin-left:-60px;
                }
                .sub4{
                    margin-left:-60px;
                    margin-top:2px;
                }
                .sub5{
                    margin-top:20px;
                    margin-left:-30px;
                }
                .sub6{
                    margin-top:2px;
                    margin-left:-30px;
                }      
                .icon1{
                    font-size:13px;
                    color:rgb(144, 144, 144);
                }     

                .collapse{
                    display:none;
                }

            }
            
            .out{                
                margin-top:270px;
                &:hover{
                    background-color:none;
                }
            }
        }
    }


}