.feat{
    display: flex;
    flex: 1;
    padding: 8px;
    justify-content:space-between;
    border-radius: 15px;
    box-shadow: 0px 5px 6px 5px rgba(135,132,132,0.24);
    -webkit-box-shadow: 0px 5px 6px 5px rgba(135,132,132,0.24);
    -moz-box-shadow: 0px 5px 6px 5px rgba(135,132,132,0.24);
    height: 150px;
    background-color:#f8ffe2;
    
    
    
    
    

    
   
    .left{
        display:inline;    
        // align-items: center;  
        // justify-content: flex-start;      
        margin-left: 6.5rem;
        
        
        .iconic{
            
            display:flex;
            justify-content: center;
            
        }
        .icon{
            display:flex;   
            align-items: center; 
            font-size:35px;
            
            margin-left:-1.2rem;
            // font-size: 30px;    
            // padding-top: 10px;  
            color:rgb(34, 69, 134);  
        }
        .icon1{
            display:flex;
            align-items: center; 
            font-size:35px; 
            margin-left:-1.2rem;
            // margin-left:55px;
            // font-size: 30px;    
            // padding-top: 10px; 
            color:rgb(11, 112, 28)
        }
        .icon2{
            display:flex;
            align-items: center; 
            font-size:35px; 
            margin-left:-1.2rem;
            // margin-left:45px;
            // font-size: 30px;    
            // padding-top: 10px;  
            color:rgb(219, 49, 11);  
        }
        .proleft{
            // background-color:lightcoral;
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding-top:1.8rem;
            margin-left:-18px;
            font-size: 25px;
            
        }
        .heading{
            display:flex;
            align-items: center;
            justify-content: space-around;
            margin-top:2rem;
            font-size: 20px;
            font-weight: 600;
            color:#0b2e59;
        }
    }

}