.feat{
    display: flex;
    flex: 1;
    padding: 8px;
    justify-content:space-between;
    border-radius: 15px;
    box-shadow: 0px 5px 6px 5px rgba(135,132,132,0.24);
    -webkit-box-shadow: 0px 5px 6px 5px rgba(135,132,132,0.24);
    -moz-box-shadow: 0px 5px 6px 5px rgba(135,132,132,0.24);
    height: 160px;
    //background-color:lightcoral;

    .left{
        background-color:#ceff1c9a;
        display:block;
        width:100%;
        border-radius:15px;
        .iconic{
            //background-color:lightblue;
            margin-left:16.5rem;
            padding-top: 50px;            
        }
        .icon{
            font-size:3rem;
            color:rgb(13, 68, 113);
            
        }
        .icon1{
            font-size:3rem;
            color:rgb(11, 112, 55);
        }
        .icon2{
            font-size:3rem;
            color:rgb(206, 16, 70);
        }
        .heading{
            //background-color:lightpink;
            display:block;
            margin-top:-65px;
            margin-left:15px;
            font-size:20px;
            font-weight:500;
            color:rgb(85, 81, 81);
        }
        .proleft{
            display:block;
            margin-left:15px;
            margin-top:10px;
            font-size:30px;
            font-weight:600;
        }
        
    }
}